<div id="<%= dom_id paciente %>">
  <p>
    <strong>Name:</strong>
    <%= paciente.name %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= paciente.birthday %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= paciente.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= paciente.email %>
  </p>

  <%if paciente.address != nil  %>
    <div id="<%= dom_id paciente.address %>">
      <p>
        <strong>Cep:</strong>
        <%= paciente.address.CEP %>
      </p>

      <p>
        <strong>City:</strong>
        <%= paciente.address.city %>
      </p>

      <p>
        <strong>Neighborhood:</strong>
        <%= paciente.address.neighborhood %>
      </p>

      <p>
        <strong>Street:</strong>
        <%= paciente.address.street %>
      </p>

      <p>
        <strong>Complement:</strong>
        <%= paciente.address.complement %>
      </p>


    </div>
    <% else %>
      <p>
        <strong>Paciente without an Address</strong>

      </p>
    <% end %>


</div>
