<div id="<%= dom_id doctor %>">
  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= doctor.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= doctor.email %>
  </p>

  <p>
    <strong>Specialty:</strong>
    <%= doctor.specialty %>
  </p>

  <p>
    <strong>Crm:</strong>
    <%= doctor.crm %>
  </p>

</div>
