<div id="<%= dom_id address %>">
  <p>
    <strong>Cep:</strong>
    <%= address.CEP %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= address.neighborhood %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>Complement:</strong>
    <%= address.complement %>
  </p>
  <p>
    <strong>Paciente:</strong>
    <%= address.paciente_id %>
  </p>

</div>
