<div id="<%= dom_id appointment %>">
  <p>
    <strong>Date:</strong>
    <%= appointment.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= appointment.time %>
  </p>
  <% if @doctor && @paciente != nil %>
    <p>
      <strong>Doctor:</strong>
      <%= @doctor.name %>
    </p>

    <p>
      <strong>Paciente:</strong>
      <%= @paciente.name %>
    </p>
  <% end %>
</div>
